<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.retail_realestate_flutter">
    <application android:usesCleartextTraffic="true">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBMz0vF3o6nhQ6v-zyt8ZddJM2JJQZgrmg"/>
    </application>
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
